<div class="container-fluid center-block">
    <div class="row">
      <div class="col-xs-12 col-custom">

        <div class="jumbotron"> 
          <h1> Hello, Martha</h2>
            <hr>
            <p>How can we help?</p>

            

        </div>

      </div>
      


    </div>

   

    <div class="container-fluid">
    <div class="row">

      
      
      
          <div class="col-xs-6 col-sm-6-push  center-block col-mainbutton">
            <div class="row">
              
                <a href="#" class="thumbnail pull-right ">
                  <img src="images/Requests_big.jpg" alt="...">
                </a>
             
              
            </div>
            
        </div>


        <div class="col-xs-6 center-block col-mainbutton">
             <div class="row">
              
                <a href="#" class="thumbnail pull-left  ">
                  <img src="images/Events_big.jpg" alt="...">
                </a>
              
           
            </div>
            
        </div>
      </div>
   
   
    </div>

  </div>
  



</div>