
<div class="container-fluid jumbocontainer">
    <div class="row">
      <div class="col-xs-12 col-custom">

        <div class="jumbotron-3"> 
          
			      <div class="container">


			      	 <div class="row">
		      	<div class="col-xs-12">

		      		<a class="glyphicon glyphicon-remove-circle pull-right glyphicon-controls  "></a> 
		      		<span><a class="glyphicon glyphicon-plus-sign pull-right glyphicon-controls success active "></a> </span>
		      		<span><a class="glyphicon glyphicon-minus-sign glyphicon-controls pull-right "></a> </span>



		      	</div>

		      </div>
			       
			       <div class="row">
			        <div class="col-xs-4">
			          <h1 id="ChallengeName" class="profileView2">Challenge details</h1> 
			         


			          </div>

		          
			          <div class="col-xs-8">
			          <div class="glyphicon glyphicon-ok glyphicon-profile "></div> 
			      	</div>

		           

		      </div>


		  </div>


		 </div>

    </div>

  <div class="container-fluid">
    <div class="row">
  

        <div class="col-xs-12 center-block profile">

        		<div class="col-md-6">

        			<div class="panel panel-default panel-custom">

        				<div class="panel-heading center-block">
        					<h3>Some groceries</h3>

        				</div>
        				

        				<div class="panel-body">

        					<table class="list-group-item-text table">
								
								<tbody>
						    	<tr>
						    		<td>Shopping</td>
						    		<td>2.3km</td>
						    		<td>12/03/15 - 15:25</td>
						    		

						    	</tr>

						    	</tbody>
						    	




						    </table>


        				</div>
        			<div class="panel-footer">

        				Please buy local cranberries!

        				</div>



        			</div>



        		</div>

        		<div class="col-md-6">

					    <ul class="list-group">
						  <li class="list-group-item">
						    <span class="badge">2</span>
						    Eggs
						  </li>




						  <li class="list-group-item">
						    <span class="badge">500ml</span>
						    Olive oil
						  </li>


						  <li class="list-group-item">
						    <span class="badge">200g</span>
						    Cranberries
						  </li>

						  <li class="list-group-item">
						    <span class="badge">1L</span>
						    Juice
						  </li>

						  <li class="list-group-item">
						    <span class="badge">3</span>
						    Sausages
						  </li>



						</ul>

					</div>


					<div class="col-md-6">

						<a href="#" class="glyphicon glyphicon-plus pull-right active">


						</a>

						<br>
						<br>
						<br>

						<hr>
						<hr>
						<hr>
					
			
			</div> 
            
        </div>
      </div>
   
   
    </div>

  </div>
  



</div>
	




